/* .bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("/img-cover.jpg");
  height: max-content; */
}
/* .bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("/sunset.jpg");
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("/background.jpg");
}
 */